.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: auto;
  margin: auto;
}

.blog-card {
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 500px;
  margin: auto;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.blog-card:hover {
  transform: scale(1.04);
}
.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blog-card-content {
  padding: 0.5rem 0.75rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: auto;
  flex-grow: 1;
  background: #f9f9f9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.blog-card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
  word-wrap: break-word;
}

.blog-card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0;
  word-wrap: break-word;
  flex-grow: 1;
  overflow-y: auto;
}
.search-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: auto;
}

.search-container input[type="text"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: 2px solid #e6ccb2;
  border-radius: 20px;
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
  border-bottom: none;
  margin-top: 20px;
}
